@CHARSET "UTF-8";

canvas#myCanvas {
	border:1px solid #3f7f00;
}

#help{
	width:37px;
	height: 32px;
	background:url(../images/Info.png) 0 0;
	float:right;
}
#help:hover{
	background: url(../images/Info.png) 0 -32px;
}

#help-info{
	border: #0C5C00 solid 1px;
	background: #81F505;
	width: 200px;
	float:right;
	position: absolute;
	z-index: 50px;
}

th{
	min-width: 2em;
}

.tabla table{
	margin:0px;padding:0px;
	box-shadow: 0px 1px 5px #888888;
	border:1px solid #3f7f00;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;

    border-collapse: collapse;
        border-spacing: 0;
	height:100%;
	margin:0px;padding:0px;
	
	display: table-cell;
}.tabla tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.tabla table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tabla table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.tabla tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.tabla tr:hover td{
	
}
.tabla tr:nth-child(odd){ background-color:#d4ffaa; }
.tabla tr:nth-child(even)    { background-color:#ffffff; }
.tabla td{
	vertical-align:middle;
	border:1px solid #3f7f00;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:9pt;
	font-family:Verdana;
	font-weight:normal;
	color:#000000;
}.tabla tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tabla tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tabla tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tabla th{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	background-color:#5fbf00;
	border:0px solid #3f7f00;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:10pt;
	font-family:Verdana;
	font-weight:bold;
	color:#ffffff;
}
.tabla tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	background-color:#5fbf00;
}
.tabla tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tabla tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

form input[type=number]{
	max-width: 30px;
}

input[type=button]{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	background-color:#5fbf00;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#81f505', endColorstr='#407f00');
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:-3.93px;
	border:1px solid #278c1a;
	display:block;
	
	color:#ffffff;
	font-family:Verdana;
	font-size:9pt;
	font-weight:bold;
	font-style:normal;
	line-height:37px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #0c5c00;
	height: 2.5em;
	
	padding-left: 1em;
	padding-right: 1em;
	
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	
	outline: none;
}
input[type=button]:hover{
	position:relative;
	top:1px;
}
input[type=button]:active {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #407f00), color-stop(1, #81f505) );
	background:-moz-linear-gradient( center top, #407f00 5%, #81f505 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#407f00', endColorstr='#81f505');
	background-color:#407f00;
	outline: none;
}
input[type=button]::-moz-focus-inner{
	border: 0;
}
form#puntos{
	padding: 5px;
	margin-bottom: 5px;
}

#info{
	position:absolute;
	display: inline-block;
	margin-left: 20px;
}
#resultados tr th{
	max-width: 20px;
}
#canvas{
	display: inline-block;
	max-width: 50%;
}
#subidaArchivos{
	max-width: 50%;
	margin:0px;padding:0px;
	box-shadow: 0px 1px 5px #888888;
	border:1px solid #3f7f00;
	background-color:#d4ffaa;
	
	font-size: 9pt;
	
	padding: 0.5em;
}


